{{ block "index" .}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/index.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@1.9.11"
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    {{template "form" .Form}}
    <hr />
    {{ template "display" .Data }}
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener("htmx:beforeSwap", function (evt) {
          if (evt.detail.xhr.status === 422) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
          }
        });
      });
    </script>
  </body>
</html>
{{ end }} {{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/contacts">
  <label>name: </label>
  <input
    type="text"
    name="name"
    {{
    if
    .Values.name
    }}
    value="{{ .Values.name }}"
    {{
    end
    }}
  />
  <label>email: </label>
  <input
    type="text"
    name="email"
    {{
    if
    .Values.email
    }}
    value="{{ .Values.email }}"
    {{
    end
    }}
  />

  {{ if .Errors.email }}
  <div style="color: red"><span>{{ .Errors.email }}</span></div>
  {{ end }}
  <button type="submit">Create Contact</button>
</form>
{{ end }} {{ block "display" . }}
<div id="contacts" style="display: flex; flex-direction: column; margin: 2rem">
  {{ range .Contacts }} {{ template "contact" .}} {{ end }}
</div>
{{ end }} {{ block "contact" . }}
<div style="margin: 1rem 0; display: flex">
  <div style="width: 1rem">
    <img src="../images/delete.svg" />
  </div>
  <div>
    <span>Name: </span>
    <span> {{ .Name }}</span>
  </div>
  <div>
    <span>Email: </span>
    <span> {{ .Email }} </span>
  </div>
</div>
{{ end }} {{ block "oob-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin">{{ template "contact" . }}</div>
{{ end }}
